.bg-gris
    background-color: #F3F9FF !important
.bg-acento-contenido-claro
  background-color: #FEE4BF !important
.tabla-a
  overflow-x: hidden
  thead
    border-top: none !important
    background-color: #FA9500
    color: $white
    th
      border: none
    td
      white-space: nowrap
    table
      table-layout: auto
.td-gris
  background-color: #F6F6F6
.container-amarillo-claro
  background-color: #FFFCDD
  border-radius: 10px
.color-naranja-claro
  background-color: #FEE4BF
.cajon2
  position: relative
  &:after
    content: ''
    background-color: #FA9500 
    width: 28px
    height: 29px
    position: absolute
    bottom: 15px
    right: 10px
    display: block

.container-icon-text
  margin-left: 20px
  p
    margin-left: 40px
    margin-bottom: 0
  position: relative
  background-color: #F3F9FF
  &> img
    position: absolute
    left: 0%
    top: 0
    transform: translateX(-45%) translateY(0%)
    display: block
    width: 60px
    margin: 0 auto